#home {
  @include vendor('display', 'flex');
  @include vendor('flex-direction', 'column');
  @include vendor('align-items', 'center');
  @include vendor('transition', (
          'transform #{_duration(article)} ease-in-out',
          'filter #{_duration(article)} ease-in-out',
          'opacity #{_duration(article)} ease-in-out',
  ));
  background-image: -moz-radial-gradient(rgba(0,0,0,0.25) 25%, rgba(0,0,0,0) 55%);
  background-image: -webkit-radial-gradient(rgba(0,0,0,0.25) 25%, rgba(0,0,0,0) 55%);
  background-image: -ms-radial-gradient(rgba(0,0,0,0.25) 25%, rgba(0,0,0,0) 55%);
  background-image: radial-gradient(rgba(0,0,0,0.25) 25%, rgba(0,0,0,0) 55%);
  max-width: 100%;
  width: 40rem;
  text-align: center;

  .content {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-style: solid;
    border-color: _palette(border);
    border-top-width: _size(border-width);
    border-bottom-width: _size(border-width);
    max-width: 100%;

    .inner {
      @include vendor('transition', (
              'max-height #{_duration(intro)} ease',
              'padding #{_duration(intro)} ease',
              'opacity #{_duration(article)} ease-in-out'
      ));
      @include vendor('transition-delay', '0.25s');
      padding: 3rem 2rem;
      max-height: 40rem;
      overflow: hidden;

      > :last-child {
        margin-bottom: 0;
      }
    }

    p {
      text-transform: uppercase;
      letter-spacing: _font(letter-spacing);
      font-size: 0.8rem;
      line-height: 2;
    }
  }
}
